<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>

<div class="blogs content">
<h2>All Blogs</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate sed nihil blanditiis temporibus neque illum, vero dicta labore illo esse officiis inventore corrupti vel molestiae deleniti nobis doloribus dolorem ex?
</p>

</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>